.mini-input {
  background-color: var(--very-dark);
  height: 32px;
  width: 267px;
  border: solid var(--normal-orange) 1px;
  outline: none;
  border-radius: 4px;
  padding: 7px 12px;
  font-size: 0.91rem;
  color: var(--text-color);
}

.mini-input::placeholder {
  color: var(--text-color);
  opacity: 0.64;
}

.giga-input {
  background-color: var(--very-dark);
  height: 343px;
  width: 267px;
  border: solid var(--normal-orange) 1px;
  outline: none;
  border-radius: 4px;
  padding: 7px 12px;
  font-size: 0.91rem;
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  resize: none;
  scrollbar-width: thin;
  scrollbar-color: var(--normal-orange) var(--very-dark);
}

.giga-input::placeholder {
  color: var(--text-color);
  opacity: 0.64;
}
