.popup-stand {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.share-popup {
  background-color: var(--very-dark);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: flex-end;
  padding: 0 20px;
  width: 360px;
  height: 76px;
  border-radius: 8px 8px 0 0;
}

.share-option {
  width: 48px;
  height: 48px;
  border: 0;
  border-radius: 50%;
  background-color: var(--little-dark) !important;
}

.copy {
  background: url("../assets/images/copy.svg") no-repeat center;
}

.tg {
  background: url("../assets/images/tg.svg") no-repeat center;
}

.vk {
  background: url("../assets/images/vk.svg") no-repeat center;
}

.whatsapp {
  background: url("../assets/images/whatsapp.svg") no-repeat center;
}

.BAN {
  background: url("../assets/images/CENSORED.svg") no-repeat center;
}

.delete-confirm {
  background: var(--little-dark);
  width: 281px;
  height: 143px;
  padding-top: 37px;
  padding-bottom: 13px;
  border-radius: 4px;
  border-top: solid var(--dirty-orange) 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: center;
}

.delete-confirm span {
  font-size: 1.17rem;
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

.edit-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  gap: 8px;
  padding: 18px;
}

.confirm-buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  width: 100%;
}
